/* Estilo geral para o corpo da página */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: rgb(78, 74, 74);
    padding: 20px 0;
}

header .titulo img {
    align-items: center;
    margin-left: 37.2vw;
    display: flex;
    width: 12vw;
}

header .links {
    text-align: center;
    margin-top: 10px;
}

header .links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

header .links a:hover {
    text-decoration: underline;
}

main {
    margin-top: 40px;
}

.produtos h2 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.produtos-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
}

.produto {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.produto p {
    font-size: 18px;
    color: #333;
}

.produto p:first-child {
    font-weight: bold;
    margin-top: 10px;
}

.produto p:last-child {
    color: #e60012;
    font-size: 22px;
}

.produto:hover img {
    transform: scale(1.1); 
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 16px;

    a {
        color: white;
    }
}
